*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Red Hat Display", sans-serif;
list-style: none;
text-decoration: none;
color:inherit;
}
body{
    background-color: white;
}

/* HEADER */

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* TO DO: Cambiar justifiy content al deseado */
    background-color: rgb(36, 36, 36);
    color: white;
}
.logo{
    height: 80%;
    margin: 100px;
}
.logo-png{
    height: 100%;
}
.nav-list{
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    width: 80%;
    margin-right: 100px;
    color: white;
}
.menu{
    display: none;
    margin: 50px;
}
.menu-png{
    height: 50px;
}
@media screen and (max-width:1197px){
    .menu{display: block;}
    .nav-list{display: none;}
    .logo{margin: 50px;}
}
.nav-list a{
    margin: 0px 40px;
    font-size: 20px;
    width: fit-content;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}
.nav-list a:hover{
    border-bottom: 2px solid white;
}

/* SECCION DE NOTICIAS */

.cuerpo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    min-height: 100vh;
    margin: 60px 20% 0px 5%;
    gap: 10px;
}
.headline{
    grid-column: 1/4;
    text-align: center;
    margin: 15px 0px;
    border-bottom: 2px rgba(128, 128, 128, 0.281) solid;
}
.headline img{
width: 500px;
}
.article-principal{
    grid-column: 1/3;
    grid-row: 2/4;
    border-bottom:2px rgba(128, 128, 128, 0.281) solid;
    margin-bottom: 5px;
}

.article-principal img{
    width: 100%;
    transition: all 1s ease; 
    z-index: 99;
}
.article-principal img:hover{
    width: 102%;
    position: relative;
   
}
.article-principal h2{
    margin-top: 10px;
    padding: 5px;
    font-size: 4vh;
    font-weight: bold;
}
.article-principal p{
    font-size: 2.5vh;
    padding-bottom: 10px;
    font-weight: 100;
}
.article{
    border-bottom: 2px rgba(128, 128, 128, 0.281) solid;
    z-index: 0;
    margin-bottom: 5px;
}
.article h2{
    margin-top: 10px;
    padding: 5px;
    font-size: 1.2vw;
    font-weight: bold;
    height: 30%;
}
.article img{
    height: 30vh;
    width: 100%;
}
@media screen and (max-width:1197px){
    .cuerpo{
        grid-template-columns: 1fr 1fr;
        margin: 60px 5% 0px 5%;
        grid-template-areas: 
        "title title"
        "principal principal"
        "article-1 article-2"
        "article-3 article-4"
        "article-5 .";
    }
    .headline{grid-area: title;}
    .article-principal{grid-area: principal;}
   #a1{grid-area: article-1;}
   #a2{grid-area: article-2;}
   #a3{grid-area: article-3;}
   #a4{grid-area: article-4;}
   #a5{grid-area: article-5;}
   .article h2{
    font-size: 20px;
   }
   .headline img{
    width: 300px;
   }

}

/* FOOTER */
.contenedor-pie{
background-color: rgb(36, 36, 36);
padding: 20px;
width: 100%;
}
.pie{
background-color: rgb(36, 36, 36);
display: flex;
justify-content: space-around;
align-items: flex-start;
color: white;
font-size: 20px;
margin: 20px 20%;}

/* FORMULARIO */



/* REDES SOCIALES */

.redes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
#siguenos{
    grid-column: 1/3;
    text-align: center;
}
.sm{
    width: 50px;
    height: 50px;
}
#face{
    background-image: url(/Assets/facenegro.png);
    background-size: cover;
}
#face:hover{
    background-image: url(/Assets/facecolor.png);
    background-size: cover;
}
#insta{
    background-image: url(/Assets/instanegro.png);
    background-size: cover;
}
#insta:hover{
    background-image: url(/Assets/instacolor.png);
    background-size: cover;
}
#x{
    background-image: url(/Assets/Xnegro.png);
    background-size: cover;
}
#x:hover{
    background-image: url(/Assets/Xcolor.png);
    background-size: cover;
}
#yt{
    background-image: url(/Assets/ytnegro.png);
    background-size: cover;
}
#yt:hover{
    background-image: url(/Assets/ytcolor.png);
    background-size: cover;
}

/* CONTACTO */

.contact li{
    color: white;
    margin: 2px 0px;
}
#subrayado{
    border-bottom: 2px white solid;
    margin-bottom: 10px;
}
.contact a{
    font-size: 15px;
}
.contact #contactos:hover{
    color: rgb(180, 180, 180);
}

/* WHATSAPP */

.wpp{
    position: fixed;
    right: 1%;
    bottom: 3%;
    font-size: 7vh;
    color: green;
   transition: font-size 0.5s ease;
}
.wpp:hover{
     font-size: 8vh;
}
@media screen and (max-width:1197px){
    .pie{
        margin: 20px 0;
        font-size: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .redes{
        margin:10px;
    }
}
@media screen and (max-width:700px){
    .article img{
        height: 15vh;
    }
    .article h2{
        font-size: 14px;
    }
    .article-principal p{
        font-size: 20px;
    }
    .article-principal h2{
        font-size: 30px;
    }

}